
.about__container {
    width: 100%;

    .about__content {
        height: 100%;
        width: 100%;
        padding: 2rem;

        .about__header {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.about__flexContainer {
    display: flex;
    width: 100%;
    flex-direction: column;

    @media (min-width: 880px) {
        flex-direction: row;
    }

    .about__imageContainer {
        width: 100%;
        margin: 2rem 0;
        img {
            width: 100%;

        }
    }
}

.about__services-container {
    width: 100%;
    background-image: url('../../assets/images/backgrounds/WIRENG WEB2-04.png');
    background-size: 100% 100%;

    .about__servicesHeader {
        display: flex;
        justify-content: center;
        color: white;

        h1 {
            margin-top: 2rem;
        }
    }
}

.about__servicesFlex {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    @media (min-width: 880px) {
        flex-direction: row;
        justify-content: space-evenly;
    }


    .about__servicesContent {
        padding: 2rem;
        height: 100%;

        p {
            color: white;
        }
     
    }
}

.about__servicesImageContent {
    background-color: white;
    padding: 2rem;
    height: 100%;
     
}

.about__lastContainer {
    width: 100%;
    background-color: $silver;

    .about__lastHeader {
        display: flex;
        justify-content: center;
        color: white;

        h1 {
            margin-top: 2rem;
            color: black;
        }
    }
}

.about__lastFlexContainer {
    display: flex;
    width: 100%;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    @media (min-width: 880px) {
        flex-direction: row;
        justify-content: space-evenly;
    }
    

    .about__last-imageContainer {
        background-color: white;
        padding: 2rem;
    }

}