
.button-block {
    width: 100%;
    background-color: $primary;

    @media (min-width: 768px) {
        width: 10rem;
        margin-left: 1.8rem;
    }
}

.button {
    color: white;
    cursor: pointer;
    border-radius: 4px;
    background-color: $primary;
    border: none;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 1rem;
    text-transform: uppercase;

    transition: background-color .3s ease;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: darken($color: $primary, $amount: 10);
        color: darken($color: white, $amount: 10);
    }
}

.btn-secondary {
    color: #fff;
    background-color: #014886 !important;
    border-color: #014886 !important;
}

.container-btn-shopify {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @media (min-width: 880px) {
        justify-content: center;
    }
}

.btn-shopify {
    width: 100%;
    @media (min-width: 880px) {
        width: 30%
    }
}