
.contact__web-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #2B2B2B 50%, #D3D3D3 50%);
    padding: 2rem;
}

.contact__container {
    width: 100%;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 5px 5px black;
    margin: auto;
    @media (min-width: 880px) {
        width: 80%;
        padding: 2rem;

    }

    .contact__flexContent {
        @media (min-width: 880px) {
            display: flex;
            width: 100%;
            gap: 2rem;
        }
    }

    .contact__contactHeader {
        h1 {
            color: $dark-grey;
            margin-bottom: 2rem;
            font-size: 3rem;
            font-weight: 400;

            @media (min-width: 768px) {
                margin-bottom: 3rem;
            }
        }
    
        p {
            font-size: 1.3rem;
    
            @media (min-width: 768px) {
                font-size: 1.5rem;
                margin-bottom: 4rem;
            }
        }
    }
}

.contact__getIn-container {
    width: 100%;

    @media (min-width: 880px) {
        width: 50%;
    }
}


.contact__infoContainer { 
    background-color: #2B2B2B;
    padding: 2rem;
    height: 100%;
    width: 100%;
    color: white;
    margin-top: 2rem;
    @media (min-width: 880px) {
        margin: 7rem 0 0 0;
        width: 50%;
    }
}

.contact__infoHeader {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.contact__infoList-elements {
    ul {
        margin: 0;
        padding: 0;
    }
}

.infoList {
    list-style: none;
    font-size: 19px;

    .infoList-items {
        padding: 1rem;
    }
}
.contact__info-socialMedias {
    width: 100%;
    ul {
        margin: 0;
        padding: 0;
    }
    
    .contact__socialMedias-container {
        display: flex;
        justify-content: center;
        list-style: none;
        font-size: 2rem;
        @media (min-width: 880px) {
            display: flex;
            font-size: 3rem;
            justify-content: space-evenly;

        }
        

        .contact__socialMedias-items {
            padding: 1rem;
        }
    }
}



.contact__form-container {
    display: flex;
    flex-direction: column;
    
    h3 {
        font-weight: bold;
        letter-spacing: 2px;
    }
    @media (min-width: 768px) {
        margin-left: 2rem;
        h3 {
            font-size: 1.8rem;
        }
    }
}

.contact__input {
    color: black;
    border: 0px;
    border-bottom: 1px solid $silver;
    font-size: 20px;
    margin-bottom: 1rem;
    height: 3rem;
    width: 50%;

    transition: border-bottom .3s ease;

    &:focus {
        border-bottom: 1px solid black;
        outline: none;
    }

    @media (min-width: 768px) {
        width: 60%;
        height: 50px;
    }
}

.contact__textarea {
    color: $dark-grey;
    border-radius: 2px;
    box-shadow: 0 1px 2px $dark-grey;
    margin-bottom: 10px;
    font-size: 20px;
    height: 8rem;
    flex: 1 1 auto;
    resize: none;
    width: 100%;    
    @media (min-width: 880px) {
        width: 60%;

    }
}

.contact__input-error {
    color: black;
    border: 0px;
    font-size: 20px;
    margin-bottom: 1rem;
    height: 3rem;
    width: 50%;
    border-bottom: 1px solid red;
}

.contact__error {
    width: 40%;
    color: red;
    font-size: 1.2rem;
}

