@media screen and (min-width: 771px) and (max-width: 9999px) {
    .footer__container { display: block !important; }  /* show it on big screens */
}

@media screen and (min-width: 0px) and (max-width: 770px) {
    .footer__container { display: none !important; }   /* hide it elsewhere */
}

.footer__container {
    position: relative;
    min-width: 1000px;
    background-color: darken($color: $silver, $amount: 20);
    color: white;

    a {
        text-decoration: none;
    }
}

#navFooter {
    margin-top: 0;
}

// #navFooter {
//     margin: 30px 0 8px 0;
//     padding: 0 0 7px 0;
// }

.footer__productsTitle {
    font-weight: bold;
    color: white;
    background-color: darken($color: $silver, $amount: 30);
    padding: 1rem;
    margin-bottom: 4rem;

    h2 {
        display: block;
        text-align: center;
        padding: 15px 0;
        line-height: 19px;
        font-size: 18px;
        margin: 0;
    }

}

.footer__back-top {
    font-weight: bold;
    color: white;
    background-color: darken($color: $silver, $amount: 30);
    padding: 1rem;
    margin-bottom: 4rem;

    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken($color: $silver, $amount: 10);
    }


    h2 {
        display: block;
        text-align: center;
        padding: 15px 0;
        line-height: 19px;
        font-size: 18px;
        margin: 0;
    }

}

.footer__nav-footer {
    display: table;
    margin: 0 auto;
    min-width: 1000px;
}

.footer__nav-footer-row {
    display: table-row;
}

.footer__nav-footer-column {
    @media (min-width: 800px) {
        display: table-cell;
        text-decoration: none;
        
        ul {
            list-style: none;
            padding: 0;
        }
    
        li { 
            margin: 0 0 10px;
            width: 8rem;
        }
    }
}

.footer__nav-footer-spaceColInner {
    display: table-cell;
    padding: 0 10px;
    width: 10%;
}

.footer__nav-footer-colhead {
    @media (min-width: 800px) {
        font-weight: 700;
        margin: 6px 0 14px 0;
    }
}

.footer__newsAndSocial-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.footer__newsletterTitle {
    @media (min-width: 768px) {
        margin-bottom: 1.5rem;
    }
    h1{
        font-size: 1.5rem;
    }
}

.footer__social-container {
    font-weight: bold;
    font-size: 1.5rem;

    
    
    @media (min-width: 768px) {
        font-size: 2rem;
        h1 {
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }

}

.footer__socialTitle {
    margin-bottom: 2.5rem;
    h1 {
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    @media (min-width: 768px) {
        h1 {
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }
}

.footer__icon {
    margin-right: 2.5rem;
}

.footer__rights-container {
    font-size: 20px;
    font-weight: bold;
    @media (min-width: 800px) {
        padding: 1rem;
        display: flex;
        justify-content: space-around;
    }
    
    p {
        margin: 0px;
    }
}


// Responsive Footer Config

@media screen and (min-width: 0px) and (max-width: 770px) {
    .navFooterMobile { display: block; }  /* show it on small screens */
}
    
@media screen and (min-width: 770px) and (max-width: 9000px) {
    .navFooterMobile { display: none; }   /* hide it elsewhere */
}

#nav-footer {
    position: relative;
    width: 100%;
    min-width: 200px;
    font-family: inherit;
    font-size: 12px;
    line-height: 1em;
}

// .footer__navFooterGateway {
    
// }
#mblFooter-gototop {
    padding-top: 5px;
    display: block;
    text-align: center;
    height: 50px;

    .navIcon {
        display: inline-block;
        border-style: solid;
        border-width: 5px;
        border-color: transparent;
        border-top-width: 0;
        border-bottom: 5px solid #ccc;
        width: 0;
        height: 0;
        font-size: 0;
        line-height: 0;
    }

    .nav-b {
        display: block;
        color: white;
        font-size: 11px;
        font-weight: 400;
        line-height: 30px;
        text-transform: uppercase;
    }
}

.navFooter-topPage {
    padding-top: 5px;
    position: relative;
    background-color: darken($color: $silver, $amount: 30);
    color: white;
    text-decoration: none;
}

.footer__mobileContent {
    color: white;
    background: darken($color: $silver, $amount: 20);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.3rem;
    padding: 1rem 1.5rem 2rem 1.5rem;

    
}

.footer__mobilerights-container {
    display: block;
    text-align: center;
    color: white;
    padding: 1rem;
    font-size: 15px;
    background: darken($color: $silver, $amount: 20);

    p {
        margin-top: 8px;
    }
}

// .footer__mobileColumn {
    
// }

.footer__mobileList {
    padding: 0;
    list-style: none;
    line-height: 1.4rem;

    li {
        font-size: 14px;
    }
}

.footer__mobileProduct-title {
    padding-top: 8px;
    display: block;
    text-align: center;
    height: 50px;
    background-color: darken($color: $silver, $amount: 30);

    p {
        display: block;
        color: white;
        font-size: 11px;
        font-weight: 400;
        line-height: 30px;
        text-transform: uppercase;
    }
}

.footer__mobilelist-title {
    margin-bottom: 1rem;
    font-weight: 700;
}

