
.footer__container {
    background-color: darken($color: $silver, $amount: 20);
    color: white;

    a {
        text-decoration: none;
    }
}

.footer__back-top {
    font-weight: bold;
    color: white;
    background-color: darken($color: $silver, $amount: 30);
    padding: 1rem;
    margin-bottom: 4rem;

    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken($color: $silver, $amount: 10);
    }


    h2 {
        display: block;
        text-align: center;
        padding: 15px 0;
        line-height: 19px;
        font-size: 18px;
        margin: 0;
    }

}

.footer__nav-footer {
    display: table;
    margin: 0 auto;
    max-width: 1000px;
}

.footer__nav-footer-row {
    display: table-row;
}

.footer__nav-footer-column {
    display: table-cell;
    text-decoration: none;
    
    ul {
        list-style: none;
    }

    li { 
        margin: 0 0 10px;
    }
}

.footer__nav-footer-spaceColInner {
    display: table-cell;
    padding: 0 10px;
    width: 10%;
}

.footer__newsletter-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer__social-container {
    font-weight: bold;
    font-size: 1.5rem;

    h1 {
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    
    @media (min-width: 768px) {
        font-size: 2rem;
        h1 {
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }

}

.footer__icon {
    margin-right: 2rem;
}

.footer__rights-container {
    font-size: 20px;
    font-weight: bold;
    
    p {
        margin: 0px;
    }
}