.home__container {
    height: 100%;
    width: 100%;
}

.container-position {
    @media (min-width: 880px) {
        position: relative;
    }
}

.header-overlay {
    background: rgba(82, 80, 80, 0.5);
    width: 100%;
    @media (min-width: 880px) {
        position: absolute;
        width: 50%;
        display: flex;
        margin-top: 3rem;
    }
    
    p {
        font-size: 1.5rem;
        font-weight: bold;
        width: 100%;
    }
}

.home__products-container {
    width: 100%;
    height: 100%;
}

.home__productsHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 2rem 0;
}

.home__description-content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 5rem 5rem 5rem;
    p {
        width: 100%;
    }

    @media (min-width: 768px) {
        p {
            width: 80%;
        }
    }
}

.home__Flex-image {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 6rem 0;

    img {
        width: 33%;
    }
}

.home__products-btn {
    color: white;
    padding: 1rem;
    background-color: $primary;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
    border: 2px solid black;
    border-radius: 5px;

    transition: background-color .3s ease;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: darken($color: $primary, $amount: 10);
        color: lighten($color: $dark-grey, $amount: 10);
    }

}