
.home__container {
    position: relative;
    height: 100%;
    width: 100%;

    .home__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: left;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
    }

    .home__text-content {
        background-color: rgba(0,0,0,0.8);
        filter:brightness(0.4);
        
        padding: 7px;

        @media (min-width: 768px) {
            padding: 3rem;
            margin-right: 9rem;
            max-width: 100%;
        }

        span {
            color: white;
            width: 20rem;
            font-size: 0.8rem;
            @media (min-width: 768px) {
                font-size: 20px;
                width: 35rem;
            }
        }
    }
}

.home__image-container {
    img {
        width: 100%;
        height: 100%;
        display: block;
    }
}



.home__grid-header-content {
    display: flex;
    margin-top: 2rem;
    padding: 1rem 0 3rem 0;
    justify-content: center;

    h1{
        font-size: 2rem;
        font-weight: bold;
    }
}

.home__grid-text-content {
    margin-top: 1rem;
}

.home__principal-grid-content {
    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 35% 30% 5% 30%;
        margin: 5rem 3rem 5rem 3rem;
        
        .home__first-grid-content {
            grid-column: 1/3;
            grid-row: 1/4;
            margin-right: 5rem;
        }
    
        .home__second-grid-content {
            grid-column: 4/5;
        }
    
        .home__thirst-grid-content {
            grid-column: 4/5;
            margin-top: 6rem;
        }
    }

    img {
        width: 100%;
        height: 100%;
        display: block;
    }
}

