
.navbar__container {
    background: #292B2F;
    box-shadow: 0px 10px 13px -7px #000000, 0px 3px 30px -4px rgba(0,0,0,0);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 3px 30px -4px rgba(0,0,0,0); 
    width: 100%;
    
    .navbar__navbar-container {
        align-items: center;
        display: flex;
        max-height: 100%;
        flex-direction: column;
        max-width: 100%;
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;
            max-height: 100%;
            max-width: 100%;
            padding: 2rem;
        }
    }
}

.d-flex {
    @media (min-width: 1000px) {
        margin-right: 1rem !important;
    }
}

.container-fluid {
    @media (min-width: 768px) {
        margin: 0 4rem !important;
    }
}

// @media (min-width: 770px) {
//     .navbar-expand-sm .navbar-toggler {
//         display: block !important;
//     }
// }



.navbar-toggler {
    background-color: #565D6A !important;
    color: #8C94A4 !important;
}

// .form-control {
//     @media (min-width: 1600px) {
//         width: 350px !important;
//     }
// }

.navbar-collapse {
    justify-content: space-between !important;
}

.navbar__logo-container  {
    width: 15rem;
    height: 6rem;
    display: flex;
    align-items: center;
    @media (min-width: 768px) {
        width: 16rem;
    }

    .navbar__logo {
        max-width: 100%;
        @media (min-width: 768px) {
            width: 16rem;
        }
    }
}

.navbar__searchicon-container {
    @media (min-width: 800px) {
        margin-left: 5rem;
    }
}

.navbar__navbar-links {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin-top: 1rem;
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        width: 100%;
        padding: 0;
        margin-top: 0;
    }
}

.dropdown-menu, .dropdown-item{
    background-color: #343434 !important;
}

.dropdown-menu {
    padding: 6px !important;
}

.nav-link {
    color: #fcfcfd !important;
    font-weight: bold;
    margin-right: 1rem !important;
    font-size: 15px;
    
    
    @media (min-width: 768px) {
        &:hover {
            color: darken($color: $silver, $amount: 10) !important;
        } 
    }
}

.link {
    display: block;
    color: #fcfcfd;
    font-weight: bold;
    padding: 1px;
    text-decoration: none;
    @media (min-width: 768px) {
        margin: 0;
        text-align: center;
    }

    transition: color 0.3s ease;

    &:hover {
        color: darken($color: $silver, $amount: 10);
    }
}