
.navbar__container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 0 20px;
    background-color: $primary;
}

.navbar-nav {
    @media (min-width: 880px) {
        flex: 1 !important; 
    }
}

.d-flex {
    @media (min-width: 1000px) {
        margin-right: 1rem !important;
    }
}

.container-fluid {
    @media (min-width: 768px) {
        margin: 0 4rem !important;
    }
}

.dropdown-toggle::after {
    display: none !important;
}

.navbar-toggler {
    background-color: white !important;
    border: $secondary 5px solid !important;
    border-radius: 5px !important;
}

.navbar-collapse {
    justify-content: space-between !important;
}

.navbar__logo-container  {
    width: 13rem;
    height: 6rem;
    display: flex;
    align-items: center;
    @media (min-width: 768px) {
        width: 16rem;
    }

    .navbar__logo {
        max-width: 100%;
        @media (min-width: 768px) {
            width: 16rem;
        }
    }
}

.dropdown-menu, .dropdown-item{
    background-color: $secondary !important;
    min-width: 20rem !important;
    border: $silver 1px solid !important;
}

.dropdown-divider {
    border-top: 1px solid white !important;
}

.dropdown-menu {
    padding: 6px !important;
}

.nav-link {
    color: white !important;
    font-weight: bold;
    margin-right: 1rem !important;
    font-size: 1.2rem;
    
    
    @media (min-width: 768px) {
        &:hover {
            color: darken($color: $silver, $amount: 10) !important;
        } 
    }
}

.link {
    display: block;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1px;
    text-decoration: none;
    @media (min-width: 768px) {
        margin: 0;
    }

    transition: color 0.3s ease;

    &:hover {
        color: darken($color: $silver, $amount: 10) !important;
    }
}