
.video__container {
    margin-top: 20rem;
    @media (min-width: 768px) {
        position: relative;
        margin: 0;
    }
    

    .video__overlay {
        position: absolute;
        max-width: 20%;
        display: flex;
    }

    .video__react-player {
        width: 100%;
        height: 100%;
    }

    .video__video-wrapper {
        width: 100%;
    }

    .logo {
        padding: 2rem;
        max-width: 100%;
    }

}






// .video__video-wrapper {
//     height: 100%;
//     width: 100%;
//     min-height: 225px;
// }

// .video__player-wrapper {
//     @include tablet {
//         width: 100%;
//         height: 100%;
//     }
//     position: relative;
// //     padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
// // }
// .video__react-player {
//     padding-top: 56.25%;
//     align-items: center;
//     max-height: 100%;
// }