
.product__container {
    width: 100%;
    height: 100%;
}

.product__header{
    width: 100%;
    padding: 2rem;

    .product__headerTitle {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 2.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
            text-align: center;
        }

        p {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
            text-align: center;
        }
    }
    
    @media (min-width: 880px) {
        padding: 2rem;
        width: 100%;
    }
}


.product__content { 
    width: 100%;

    .product__contentHeader {
        display: flex;
        justify-content: center;
        margin: 1rem 0 3rem 0;
    }

}

.product__mainFt-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    @media (min-width: 1000px) {
        display: flex;
        flex-direction: row;
    }
}


.product__listFt-left {
    order: 2;
    width: 100%;

    @media (min-width: 880px) {
        order: unset;
        display: flex;
        height: 100%;
        flex-direction: row-reverse;
    
        ul {
            padding-left: 5rem;
        }

        li {
            margin-bottom: 2rem;
        }
    }
}

.product__listFt-right {
    order: 1; 
    width: 100%;

    @media (min-width: 880px) {
        order: unset;
        height: 100%;

        li {
            margin-bottom: 2rem;
        }
    }
}

.product__description-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        text-align: center;
    }
}

.product__techHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2rem 0 2rem 0;
    
    @media (min-width: 880px) {
        margin: 2rem 0 3rem 0;
    }
}

.product__techSpcf-table {
    width: 100%;

    @media (min-width: 880px) {
        display: table;
        margin: 0 auto;
        max-width: 1000px;
    }
}

.product__tableRow {
    width: 100%;
    padding: 1rem;
    
    @media (min-width: 880px) {
        display: table-row;
        padding: 0;
    }
}

.product__techSpcf-cell {
    margin: 0 3rem 2rem 3rem;

    .product__titleCell {
        display: flex;
        font-weight: 700;
        margin: 0 0 1rem 0;
        background-color: lighten($color: $silver, $amount: 20);
        padding: 1rem;
        justify-content: center;
        border-radius: 5px;
    }

    .techCol-bg {
        background-color: lighten($color: $silver, $amount: 20);  
        border-radius: 5px;
        padding: 1rem;
        width: 100%;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin: 0 0 10px;
    }

    @media (min-width: 880px) {

        display: table-cell;
    
        .product__titleCell {
            margin: 1rem 0 2rem 0;
        }
    
        .techCol-bg {
            display: flex;
            flex-direction: column;
            align-items: center; 
            margin: 0;
        }
    
        li { 
            margin: 0 0 10px;
            width: 8rem;
        }
    }
}

.product__spaceColInner {
    @media (min-width: 880px) {
        display: table-cell;
        padding: 0 10px;
        width: 10%;
    }
}

.product__containerCrsl {
    order: 0;
    width: 100%;
    
    .product__imageCrsl {
        width: 100%;
        padding: 1rem;
    }

    @media (min-width: 880px) {
        order: unset;
        display: flex;
        justify-content: center;
    
    }
}

.product__mechaSpcf-container {
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/images/backgrounds/mechanical-bg/WIRENG WEB-15.png');
    background-size: 100% 100%;

    .product__mechaHeader {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    h1 {
        margin: 1.5rem 0 1.5rem 0;
    }

    .product__mechaDescription {
        padding: 0 1rem 1rem 1rem;
    }

    @media (min-width: 880px) {
        background-image: url('../../../assets/images/backgrounds/mechanical-bg/bg-wideant4x4.jpg');
        background-size: 100% 100%;

        .product__mechaHeader {
            margin: 2rem 0 3rem 0;
            width: 100%;
            
        
        .product__mechaDescription {
            
            padding: 0 2rem 2rem 2rem;
            span {
                margin-bottom: 2rem;
            }
        }
        }
    }
}

.product__mechaImage-container {
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        padding:1rem
    }

    @media (min-width: 880px) {
        padding: 2rem;
        display: flex;
    
        .product__mechaImage-col {
            img {
                width: 100%;
                padding: 4rem;
            }
        }

    }
    
    .product__mechaImage-col {
        img {
            width: 100%;
        }
    }
}

.carousel-indicators [data-bs-target] {
    background-color: black !important;
    width: 20px !important;
    height: 12px !important;
    border-radius: 50% !important;
    border-top: none !important;
    border-bottom: none !important;
}

.card__button-group {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
}

// .card__button-size {
//     width: 50%;
// }
