

// Global Settings
@import './bases/bases';
@import './bases/settings';

// Components
@import './components/landing';
@import './components/navbar';
@import './components/home';
@import './components/footer';
@import './components/contact';
@import './components/buttons';
@import './components/about';

// Products
@import './components/products/products';


// React Bootstrap 
@import "~bootstrap/scss/bootstrap";