@import './settings';

html { 
    box-sizing: border-box;
}

* {
    
    margin: 0px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: $principal_font;
}


.pointer {
    cursor: pointer;
}